:root{
  --nav-color: #010409;
  --nav-text: #5FD068;
  --body-color: #F5f5f5;
  --card-color-text: #fff;
  --card-color: rgba(95, 208, 104, 0.5);
  --color-core: #3AB0FF;
  --color-tech: red;
  --color-s1: #610C63;
  --color-s2: #FF9F29;
  --color-s3: #3EC70B;
  --color-s4: #F24C4C;
  --color-s5: #001E6C;
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;
  --margin-xl: 4rem;
  --margin-xll: 5rem;
  --padding-ss: 0.25rem;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;
  --padding-xl: 4rem;
  --border-sm: 25px;
  --font-md: 1.5rem;
  --font-mdl: 2rem;
  --font-lg: 2.5rem;
}

html{
  scroll-behavior:smooth;
}

body{
  background-color: var(--body-color);
}
i{
  font-size: 11px;
  padding: var(--padding-ss);
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
li{
  line-height: 1.5;
}

hr{
  border: 6px dashed var(--nav-text);
  width: 50%;
  color: var(--nav-text);
  max-width: 100px;
}

#home{
  font-size: 48px;
  color: var(--nav-text);
  font-family: 'Monoton', 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
}

/********** NAVBAR *********/

.navbar{
  
  margin: 0 auto var(--margin-md) auto;
  display: flex;
  flex-direction: column;
  background-color: var(--nav-color);
  align-items: center;
}

.top{
  display: flex;
  width: 100%;
  flex-direction: row;
  max-width: 1350px;
}

.nav-bottom{
  max-width: 1350px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center ;
  margin: var(--margin-md);
}

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  padding-bottom: var(--padding-sm);
}
 
.nav-list > li {
list-style: none;
color: var(--nav-text);
}

.placeholder{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--nav-text);
}

.socials{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.social-icon{
  
  display: flex;
  justify-content: center;
  align-items: center;
   margin: 0 var(--margin-sm);
   transition: 0.3s;
}

.social-icon:hover{
  transform: scale(1.2);
}

.social-icon > a > img {
  width:25px;
  height:25px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(351deg) brightness(104%) contrast(101%);
  
}

.logo-wrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-md);
}

.logo{
  font-size: 48px;
  color: var(--nav-text);
  font-family: 'Monoton', 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
}

.icon{
  height: 30px;
  width: 30px;
}



/* HOME */

.home-wrapper{
  padding: 0 var(--padding-xl);
  margin: var(--margin-lg) auto;
}

.home-header, .header{
  font-size: var(--font-md);
  text-align: left;
  margin: var(--margin-sm) auto;
  max-width: 1350px;
}

.home-grid{
  display: grid;
  grid-template-areas:
  "main main main blog1"
  "blog2 sub sub sub";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  max-width: 1350px;
  margin: 0 auto;
}

.sub{
  grid-area: sub;
}

.hero{
  grid-area: main;
}

.blog1{
  grid-area: blog1;
}

.blog2{
  grid-area: blog2;
}

/* MAIN - ALL POSTS */

.allposts-wrapper{
  padding: 0 var(--padding-xl);
  margin: var(--margin-lg) 0;
}

.allposts-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1350px;
  background-color: var(--body-color);
  grid-template-rows: minmax(300px, 350px);
  grid-auto-rows: minmax(300px, 350px);
  height: 100%;
  margin: 0 auto;
  
}

.card, .main-card{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  position: relative; 
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}

.card:hover, .main-card:hover{
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}

.card-pic{
  width: 30px;
  height: 30px;
  background: url("../assets/images/face.jpg");
  background-size: cover;
  border-radius: 50%;
}



.card-overlay, .card-overlay1, .card-overlay2, .card-overlay3, .card-overlay4, .card-overlay5, .card-overlay6, .card-overlay7, .card-overlay8, .card-overlay9, .card-overlayholder, .hero-image, .sub-image, .blog1-image, .blog2-image {
  background-size: cover;
  filter: brightness(40%);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}


.hero-image{
  /* Problem solving */
  background: url("https://images.unsplash.com/photo-1522435229388-6f7a422cd95b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
}
.sub-image{
  /* Growth Mindset */
  background: url("https://images.unsplash.com/photo-1552820755-733e038f86d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.blog1-image{
  /* Do you ever wonder why*/
  background: url("https://images.unsplash.com/photo-1656775624552-1870a4ec46bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=834&q=80");
}
.blog2-image{
  /* Intro to JS */
  background: url("https://images.unsplash.com/photo-1508739826987-b79cd8b7da12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODd8fGphdmFzY3JpcHR8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60");
}


.card-overlay{
  /* ID VS CLASSES */
  background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.card-overlay1{
  background: url("https://images.unsplash.com/photo-1528629297340-d1d466945dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1522&q=80");
}

.card-overlay2{
  background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");

}

.card-overlay3{
  /* BLT */
  background: url("https://images.unsplash.com/photo-1591336267373-3ec5684c20d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ymx0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60");
} 
.card-overlay4{
  /* Do You ever wonder why */
  background: url("https://images.unsplash.com/photo-1656775624552-1870a4ec46bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=834&q=80");
}

.card-overlay5{
  /* Story */
  background: url("https://images.unsplash.com/photo-1616844868051-388575c1c465?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
}

.card-overlay6{
  /* JS INTRO */
  background: url("https://images.unsplash.com/photo-1508739826987-b79cd8b7da12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODd8fGphdmFzY3JpcHR8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60");
}

.card-overlay7{
  /* Emotional Intelligence */
  background: url("https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80")
}

.card-overlay8{
  /* Growth Mindset */
  background: url("https://images.unsplash.com/photo-1552820755-733e038f86d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.card-overlay9{
  /* Problem Solving */
  background: url("https://images.unsplash.com/photo-1522435229388-6f7a422cd95b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
}

.card-overlayholder{
  /* PLACEHOLDER */
  background: url("https://images.unsplash.com/photo-1614469723922-c043ad9fd036?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=727&q=80");

}

.card-title{
  font-size: 1.5rem;
  padding: var(--padding-sm);
  z-index: 1;
  line-height: 1.5;
  color: var(--card-color-text);
}

.white{
  color: var(--card-color-text);
}

.hero-title{
  font-size: 2rem;
  width: 75%;
  line-height: 1.5;
}

.card-title:hover{
cursor:pointer;
text-decoration: underline;
}

.card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: flex-end;
  z-index: 1;
  
}

.card-author{
  display: flex;
  color: var(--card-color-text);
  align-items: center;
}
.card-author > * {
  margin: var(--margin-sm);
}

.card-date{
  margin: 0 var(--margin-sm);
  color: var(--card-color-text);
}

/* Offsets allpost grid elements */
.card:nth-child(even){
  top:0.7rem;
}

.category{
  
  z-index: 1;
  
}
.category > * {
  text-align: left;
  margin: var(--margin-sm);
  padding: var(--padding-ss);
  max-width: 60px;
  width: 100%;
  border-radius: 5px;
}

.tech{
  background-color: var(--color-tech);
  color: var(--card-color-text);
  
}

.sprint-1{
  background-color: var(--color-s1);
  color: var(--card-color-text);
}

.sprint-2{
  background-color: var(--color-s2);
  color: var(--card-color-text);
}

.sprint-3{
  background-color: var(--color-s3);
  color: var(--card-color-text);

}
.sprint-4{
  background-color: var(--color-s4);
  color: var(--card-color-text);
}

.sprint-5{
  background-color: var(--color-s5);
  color: var(--card-color-text);
  
}
.core{
  background-color: var(--color-core);
  color: var(--card-color-text);
  max-width: 50px;
  width: 100%;
  border-radius: 5px;
}

/* About section */

.about-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 1350px;
  padding: 0 var(--padding-xl);
  margin: var(--margin-xll) auto var(--margin-xl);
}

.about-left-side{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 1rem;
}

.about-grid{
  display: grid;
  width: 100%;
  height: 100%;
  gap: 10px;
  grid-template-columns: 30% 1fr 30%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "j1 j2 j3"
  "j4 jdesc j5"
  "j6 j7 j8"
}

.jdesc{
  grid-area: jdesc;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-image{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.j1, .j2, .j3, .j4, .j5, .j6, .j7, .j8{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
}
.j1{
  grid-area: j1;
}

.j2{
  grid-area: j2;
}

.j3{
  grid-area: j3;
}

.j4{
  grid-area: j4;
}

.j5{
  grid-area: j5;
}

.j6{
  grid-area: j6;
}

.j7{
  grid-area: j7;
}

.j8{
  grid-area: j8;
}


.about-right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:60%;
  position: relative;
}
.about-header{
  margin: var(--margin-sm);
}
.about-section{
  background-color: var(--card-color);
  padding: var(--padding-md);
}

.about-header{
  font-size: var(--font-md);
  text-align: center;
  font-family: 'Monoton', 'Poppins', sans-serif;
  font-weight: 400;
  font-size: var(--font-lg);
  
}
.about-text{
  line-height: 1.5;
  padding: var(--padding-sm);
}

/* FOOTER */

.footer{
  height: 50vh;
  display: flex;
  background-color: var(--nav-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-bye{
  color: var(--card-color-text);
  margin: var(--margin-md);
}

.footer-list{
    margin: var(--margin-md);
    padding-left: 0px;
    color: var(--card-color-text);
}

.footer-icon{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(351deg) brightness(104%) contrast(101%);
}

/* BLOG PAGE STYLING-  */
.blog-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-blog{
  display: flex;
  background-color: var(--body-color);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-md) 0;
  position: relative;
}

.welcome-header{
  max-width: 35ch;
  width: 100%;
  margin: var(--margin-md) 0;
  line-height: 1.5;
  font-size: 2em;
}

.welcome-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.welcome-author{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--margin-sm)
  
}
.welcome-author > * {
  margin: 0 var(--margin-sm);
}

.welcome-image-wrapper{
  display: flex;
  margin: var(--margin-md) 0;
}

.welcome-image{
  background-size: cover;
  width: 100%;
  max-width: 700px;
  height: 450px;
}

.card-date{
  color: var(--card-color-text);
}

.blog-date{
  color: var(--nav-color);
}

.bottom-blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 80ch;
  margin: 0 auto;
  background-color: var(--body-color);
  
}

blockquote{
  text-align: left;
  font-size: 2rem;
  margin: 0;
}

.bq{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: var(--margin-md) 0;
  max-width: 80ch;
}
.quote{
  position: relative;
  bottom: 1rem;
}

.blog-sub-header{
  align-self: flex-start;
  max-width: 80ch;
  margin: var(--margin-sm) 0;
}

.minor-header{
  align-self: flex-start;
}

.bottom-blog > p {
  line-height: 1.5;
  max-width: 80ch;
  margin: var(--margin-md) auto;
  
}

.blog-image-wrapper{
 background-size:cover;
 display: flex;
 text-align: center;
 flex-direction: column;
  margin: var(--margin-md);
  max-width: 1000px;
  margin: 1rem auto;
}

.blog-list-header{
  margin: var(--margin-md) 0;
}

.blog-list{
  margin: var(--margin-md);
}

.blog-image, .blog-image-1{
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
  margin: var(--margin-sm) 0;
}

.quote{
  font-size: 3rem;
  color: gray;
}

.author-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
 padding: var(--padding-md);
  margin: var(--margin-sm) 0;
  background-color: #F8F8FF;
}
.author-card-top{
  display:flex;
  height: 60px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-md);
}
.author-card-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  margin: var(--margin-md);
}


.next-wrapper{
  display: flex;
  flex-direction: column;
  margin: var(--margin-md);
  
}

.next-wrapper > *{
  margin: var(--margin-sm) 0;
}

.home{
  align-self: center;
}

/* ANIMATION- EYES */
.balls{
  display: flex;
  flex-direction: row;
  position: relative;
}

.ball-wrapper{
  /* width: 100%; */
  height: 100%;
  display: flex;
  margin: 0 var(--margin-md);
  position: relative;
 
 
}
.ball{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: black;
  border: 5px solid var(--nav-text);

  animation: bounce infinite 6s ease;
  position: relative;
  
}

.ball:after{
  content: "";
  width: 9px;
  height: 9px;
  left: 5.4px;
  top:5px;
  position:absolute;
  background-color: white;
  border-radius: 100%;
  border-top: 4px solid black;
  /* border-bottom: 1px solid black; */
  animation: eyemove 6s infinite;
}

@keyframes eyemove{
  0%{
    transform: translateX(-30%) translateY(-10%);
  }
  50%{
    transform: translateX(50%) translateY(-20%)
  }
  100%{
    transform:translateX(-30%) translateY(-10%);
  }
}


@keyframes bounce{
  0%{ transform:translateX(-150%)

  }
  25%{
    transform:translateY(10%) translate3d(10%, 0, 0);

  }
  50%{
    transform:translateX(150%) translateY(0%);
  }
  75%{
    transform: translateY(10%) translate3d(10%, 0, 0);
  }
  100%{
    transform: translateX(-150%);
  }
}

@media screen and (max-width: 820px){
  li{
    line-height: 1.8;
  }
  .card-title{
    font-size: var(--font-md);
    width: 90%;
  }
  .hero-title, .tablet-title{
    font-size: var(--font-mdl);
}
.home-grid{
  grid-template-columns: 1fr;
  margin: 0;
  grid-template-rows: repeat(4, minmax(300px, 350px));
  grid-template-areas: 
  "main"
  "sub"
  "blog1"
  "blog2";
}
.about-wrapper{
  margin: var(--margin-xl) 0;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.about-left-side{
  margin: var(--margin-md) 0;
}

.about-right-side{
  width:100%;
}

.bq{
  margin: var(--margin-md) 0;
}

.welcome-header, .bq{
  padding: 0 var(--padding-md);
  max-width: 70ch;
}

.welcome-header{
  max-width: 30ch;
}
.welcome-image, .blog-image, .blog-image-1{
  height: 300px;
}
.bottom-blog > p {
  padding: 0 var(--padding-md);
  line-height: 1.8;
  max-width: 70ch;

}

.blog-sub-header{
  padding: 0 var(--padding-md);
  max-width: 70ch;
}
}
  
@media screen and (max-width: 414px){
  li{
    line-height: 1.8;
  }
  .top{
    flex-direction: column;
  }
  .home-wrapper, .allposts-wrapper, .about-wrapper{
    padding: 0 var(--padding-md);
  }
  .socials{
    padding-bottom:var(--padding-md);
  }

  .nav-list{
    width: 100%;
    padding: 0;
  }

  .about-grid{
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(9, minmax(300px, 350px));
    grid-template-areas:
    "jdesc"
    "j1"
    "j2"
    "j3"
    "j4"
    "j5"
    "j6"
    "j7"
    "j8"
  }
  
  .home-grid{
      grid-template-columns: 1fr;
      margin: 0;
      grid-template-rows: repeat(4, minmax(300px, 350px));
      grid-template-areas: 
      "main"
      "sub"
      "blog1"
      "blog2";
    }
    .card-title{
      font-size: var(--font-md);
    }
   
    .card:nth-child(even){
  top: 0;
}
  
  .about-wrapper{
      margin: var(--margin-md) 0;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
    .about-left-side{
      margin: var(--margin-md) 0;
    }
    .about-right-side::after{
    right: 1rem;
    bottom: 2.5rem;
    }
    .about-right-side{
      width:100%;
      
    }

    .bq{
      margin: var(--margin-md) 0;
    }

    .welcome-header, .bq{
      padding: 0 var(--padding-md);
    }
    .welcome-image, .blog-image, .blog-image-1{
      height: 300px;
    }
    .bottom-blog > p {
      padding: 0 var(--padding-md);
      line-height: 1.8;

    }

    .blog-sub-header, .minor-header{
      padding: 0 var(--padding-md);
    }

    .yt-player{
      width: 100%;
      padding: var(--padding-md);
      margin: var(--margin-md) 0;
    }
  }
